body{
   background-color: rgb(255, 255, 191)
}
#money {
   color: darkgreen;
   font-size: 40px;
   float:left;
   
 }

 #coin{
   font-size:40px;
   float:left;
 }
#toptitle{
 text-align: center;
}
span.title{
 color: darkgreen;
 font-size: 50px;
 text-align: center;
}
h1 {
   font-size: 30;
}
#lemonades {
   margin: 30px 0 0 0;
}
p {
   font-size: 13px;
}
h3 {
   font-size: 20px;
}



 #InvStrawberries {
   display: none;
 }

 #pinkLem {
   display :show;
 }

 #buyStraw {
   display:none;
 }

 #pink_lemonades {
   display: none ;
 }

 #makePinkLem {
   display : none;
 }