body{
   background-color: rgb(255, 255, 191);
   font-family:  monospace;

}
#money {
   color: darkgreen;
   font-size: 40px;
   float:left;
   
 }
 #priceBody {
   font-size: 18px;
 }

 #coin{
   font-size:40px;
   float:left;
 }
#toptitle{
 text-align: center;
}
span.title{
 color: darkgreen;
 font-size: 50px;
 text-align: center;
}
h1 {
   font-size: 30px;
}
#lemonades {
   margin: 30px 0 0 0;
  
}
#brownies {
  display: none;
}
p {
   font-size: 13px;
}
h3 {
   font-size: 20px;
}
#inventory {
   float:right;
   /* position:absolute;
   top: 50px;
   right: 10px; */
}
#upgrades {
   float:right;
}
#shop {
   width: 175px;
   height:50%;
}
#price {
   width: 100%;
   border:  1px solid  black;
   padding: 2px;
   margin-top: 20px;
   text-align: center;
   position: relative;
   float:left;
   background-color: rgb(254,242,80);
}



 #InvStrawberries {
   display: none;
 }
 #InvChocolates {
  display:none;
 }
 #InvHerbs {
  display:none;
 }

 #pinkLem {
   display :show;
   background-color: rgb(254,242,80);
 }
 #ad1, #ad2, #chocolatier, #tax_evasion, #pinkLem, #cook, #masala {
  background-color: rgb(254,242,80);
  margin-bottom: 20px;
 }
 
#masala {
  display:none;
}

 #buyStraw {
   display:none;
   margin-top: 15px;
 }
 #buyChoc {
  display:none;
  margin-top: 15px;
 }
 #buyHerb {
  display:none;
  margin-top: 15px;
 }

 #pink_lemonades {
   display: none ;
 }

 #makePinkLem {
   display : none;
 }
 
 #makeLem, #makePinkLem, #makeBrownie, #makeMasala {
  margin-top: 20px;
  background-color: green;
  color: rgb(255, 255, 191)
 }
 #makeBrownie {
  display:none;
 }
 #makeMasala {
  display:none;
 }

 #masala_lemonades {
  display:none;
 }
 .time {
   float:right;

 }
 .row {
   display: flex;
 }

 .column {
   flex: 1;
   padding: 10px;
   display:flex;
   flex-direction: column;
   width: 30%;
   margin-bottom : 40px;
 }

 #priceImg {
   float:left;
   position: absolute;
   left: 30px;
   top: 25px;
 }

 #workers {
  background: url("workers.png");
  width: 75px;
  height: 75px;
  position: absolute;
  right: 10px;
  top: 120px;
  border: 2px solid black;
  border-radius: 20px;
  
 }
 #CookInfo {
  position:relative;
  border: 2px solid black;
  display:none; 
 }
 #pfp_img {
  position:absolute;
  width: 85px;
  height: 85px;
  left: 325px;
  top: 5px;
 }
 #upg_img {
  position:absolute;
  width: 85px;
  height: 85px;
  left: 800px;
  top: 5px;
  border: 2px solid black;
  border-radius: 50px;

 }
 #invBody {
   font-size: 20px; 
 }
 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4)
 }
.close {
  color: grey;
  float:right;
  font-size: 28px;
  font-weight: bold;

}
 
 .modal-content {
  background-color: rgb(255, 255, 191);
  margin: auto;
  text-align: center;
  padding: 20px;
  border: 1px solid black;
  width: 80%
 }

 #modal-body {
  font-size: 20px;
 }